<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.bom.map.BomMapper">

	<!-- (2024년 5월 14일 오전 9시 25분 박현우) -->

	<!-- Product 테이블에서 단일 튜플을 가져오는 쿼리 -->
	<select id="getData"
		resultType="co.second.easyrp.bom.service.BomVO">
		SELECT p.cod AS 'productCod',
		p.prodname AS 'productName',
		d.name AS 'deptName',
		e.cod AS 'empCod',
		e.name AS 'empName',
		w.name AS 'warehouseName'
		FROM product p
		LEFT JOIN employee e ON p.employee_cod = e.cod
		LEFT JOIN department d ON e.department_cod = d.cod
		LEFT JOIN warehouse w ON p.warehouse_cod = w.cod
		WHERE p.cod = #{productCod}
	</select>



</mapper>