<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.salesplan.map.SalesplanMapper">
	<select id="SalesplanSelectList">
		select 
			cod,
			client_cod,
			product_cod,
			plan_date,
			basicpln_qty,
			modpln_qty,
			state_cod
		from salesplan
		where deleteyn = 'N'
	</select>
	
	<select id="SalesplanSelect"></select>
	
	<insert id="SalesplanInsert" parameterType="co.second.easyrp.salesplan.service.SalesplanVO">
		insert into salesplan (cod, client_cod, product_cod, basicpln_qty)
		values (#{cod}, #{clientCod}, #{productCod}, #{basicplnQty})
	</insert>
	
	<update id="SalesplanUpdate"></update>
	
	<delete id="SalesplanDelete" parameterType="co.second.easyrp.salesplan.service.SalesplanVO">
		update salesplan
		set deleteyn = 'Y'
		where cod = #{cod}
	</delete>
</mapper>