<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.mps.map.MpsMapper">
	<select id="mpsSelectListAll"></select>
	<select id="mpsSelectList"></select>
	<select id="mpsSelect"></select>
	<insert id="mpsInsert">
		INSERT INTO mps(cod, order_cod, product_cod, plan_date, qty, employee_cod, procurement, account, note, closing) VALUES (#{cod}, #{orderCod}, #{productCod}, #{planDate}, #{qty}, #{employeeCod}, #{procurement}, '완제', #{note}, 'N')
	</insert>
	<update id="mpsUpdate"></update>
	<delete id="mpsDelete"></delete>
	<update id="orderdetailMpsStateUpdate">
		UPDATE orderdetail SET mps_state = 'Y' WHERE cod = #{orderCod} AND num = #{num}
	</update>
	
	<select id="selectMaxCod">
		SELECT COALESCE(MAX(CAST(RIGHT (cod,3) AS SIGNED)), 0) AS cod FROM mps
	</select>
</mapper>