@charset "UTF-8";

.card-body {
    display: flex;
    flex-direction: column;
}

.selector-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.selectors select{
    margin-left: 5px;
}