<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.estimate.map.EstimateMapper">

	<select id="EstimateSelectList">
		SELECT *
		FROM estimate
		WHERE DELETEYN = 'N'
		<if test="cod != null and cod != ''">
			AND cod = #{cod}
		</if>
		<if test="clientCod != null and clientCod != ''">
			AND client_cod LIKE CONCAT('%', #{clientCod}, '%')
		</if>
		<if test="employeeCod != null and employeeCod != ''">
			AND employee_cod LIKE CONCAT('%', #{employeeCod}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND est_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
		ORDER BY cod DESC
		LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<select id="countSalesTables" resultType="int">
		SELECT COUNT(*)
		FROM estimate
		WHERE DELETEYN = 'N'
		<if test="cod != null and cod != ''">
			AND cod = #{cod}
		</if>
		<if test="clientCod != null and clientCod != ''">
			AND client_cod LIKE CONCAT('%', #{clientCod}, '%')
		</if>
		<if test="employeeCod != null and employeeCod != ''">
			AND employee_cod LIKE CONCAT('%', #{employeeCod}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND est_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
	</select>

	<select id="ClientNameSelectList">
		select name from client
	</select>
	
	<insert id="EstimateInsert" parameterType="co.second.easyrp.estimate.service.EstimateVO">
	
		INSERT INTO estimate (cod, client_cod, employee_cod, price)
		SELECT 
		    CONCAT('est', LPAD(COALESCE(MAX(SUBSTRING(cod, 4)), 0) + 1, 3, '0')),
		    #{clientCod},
		    #{employeeCod},
		    #{price}
		FROM estimate;
		
	</insert>
	
	<select id="EstimateDetailSelectList" parameterType="String">
		select e.estimate_cod, e.num, p.prodname, e.qty, e.total
		from estimatedetail e 
		left join product p
		on e.product_cod = p.cod
		where estimate_cod = #{cod}
	</select>

</mapper>