<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.mrp.map.MrpMapper">
	<select id="mrpSelectListAll">
		SELECT product_cod, prodname
		FROM mrp
		JOIN 
		ON 
		WHERE m.deleteyn = 'N'
		AND m.closing = 'N'
	</select>
	<select id="countMrpTables"></select>
	<select id="mrpSelect"></select>
	<insert id="mrpInsert">
		INSERT INTO mrp (cod, mps_cod, product_cod, inventory_cod, take_date, po_date, qty, employee_cod, account)
		VALUES (#{cod}, #{mpsCod}, #{productCod}, #{inventoryCod}, #{takeDate}, #{poDate}, #{qty}, #{employeeCod}, #{account})
	</insert>
	<update id="mrpUpdate"></update>
	<delete id="mrpDelete"></delete>
	<update id="mpsClosingUpdateToY">
		UPDATE mps
		SET closing = 'Y'
		WHERE cod = #{mpsCod}
	</update>
	<update id="mpsClosingUpdateToN">
		UPDATE mps
		SET closing = 'N'
		WHERE cod = #{mpsCod}
	</update>
	<select id="selectMaxCod">
		SELECT COALESCE(MAX(CAST(RIGHT (cod,3) AS SIGNED)), 0) AS cod FROM mrp
	</select>
	
	<select id="selectBom">
		SELECT inv_cod, quantity as 'invQty'
		FROM bom
		WHERE prod_cod = #{productCod}
	</select>
</mapper>