<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.chart.map.ChartMapper">

	<select id="ProductSelectList">
		select cod as productCod, prodname
		from product
	</select>
	
	<select id="getOrderByProductAndYear">
	SELECT
		o.product_cod as productCod,
		YEAR(o2.order_date) AS year,
		MONTH(o2.order_date) AS month,
		SUM(o.qty) AS totalQty
	FROM
	orderdetail o 
	JOIN orders o2 ON o.cod = o2.cod
	where o.product_cod = #{productCod} and YEAR(o2.order_date) = #{year}
	GROUP BY
		o.product_cod,
		YEAR(o2.order_date),
		MONTH(o2.order_date)
	ORDER BY
		o.product_cod, year, month
	</select>
	
	<select id="getSalesPlanByProductAndYear">
	SELECT 
		s.product_cod as productCod,
		year(s.plan_date) as year,
		month(s.plan_date) as month,
		sum(s.basicpln_qty) as totalQty
	from
		salesplan s 
	where s.product_cod = #{productCod} and YEAR(s.plan_date) = #{year}
	group by
		s.product_cod,
		YEAR(s.plan_date),
		month(s.plan_date)
	order by
		s.product_cod, year, month;
	</select>
	
</mapper>